<div class="estate-list">
  <h1>Estate List</h1>
  <button (click)="navigateToCreateEstate()">Create Estate</button>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Price</th>
        <th>Size</th>
        <th>ListingDate</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let estate of estates">
        <td>{{ estate.id }}</td>
        <td>{{ estate.name }}</td>
        <td>{{ estate.address }}</td>
        <td>{{ estate.price }}</td>
        <td>{{ estate.size }}</td>
        <td>{{ estate.listingData }}</td>
      </tr>
    </tbody>
  </table>
  <h1>Estate List</h1>
  <button (click)="navigateToCreateEstate()">Create Estate</button>
  <!-- <span style="margin-right: 10px;"></span>
    <button (click)="navigateToUpdateEstate()">Update Estate</button> -->
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Price</th>
        <th>Size</th>
        <th>ListingDate</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let estate of estates">
        <td>{{ estate.name }}</td>
        <td>{{ estate.address }}</td>
        <td>{{ estate.price }}</td>
        <td>{{ estate.size }}</td>
        <td>{{ estate.listingData }}</td>
        <button
          id="edit-button"
          (click)="navigateToUpdateEstate(estate.id || '')"
        >
          Edit
        </button>
      </tr>
    </tbody>
  </table>
</div>
