<div class="container" *ngIf="estate">
  <h1>{{ estate.name }}</h1>
  <div class="details">
    <div class="row">
      <p><strong>Description:</strong></p>
      <p>{{ estate.description }}</p>
    </div>
    <div class="row">
      <p><strong>Price:</strong></p>
      <p>{{ estate.price }}€</p>
    </div>

    <div class="row">
      <p><strong>Address:</strong></p>
      <p>{{ estate.address }}</p>
    </div>

    <div class="row">
      <p><strong>Size:</strong></p>
      <p>{{ estate.size }}</p>
    </div>

    <div class="row">
      <p><strong>Type:</strong></p>
      <p>{{ estate.type }}</p>
    </div>
    <div class="row">
      <p><strong>Status:</strong></p>
      <p>{{ estate.status }}</p>
    </div>
    <div class="row">
      <p><strong>Listing Date:</strong></p>
      <p>{{ estate.listingData }}</p>
    </div>
  </div>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div> 
  <button class="delete-button" (click)="onDelete(estate.id)">Delete</button>
</div>
